@{
    ViewData["Title"] = "Homepage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3">
    <div class="col-12 text-center">
        <h1>Hello World</h1>
    </div>
</div>

@section More{
    <div class="row">
        <div class="col-12 text-center">
            <p>Hello from More section</p>
        </div>
    </div>
}