@model HospitalManagementSystem.Data.Model.User
@using role = HospitalManagementSystem.Data.Model.Role

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<input type="hidden" asp-for="ID" />*@

            <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" />
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <select asp-for="Role" class="form-control" id="SelectRole" asp-items="Html.GetEnumSelectList<role>()">
                    <option value="-1" selected disabled>Select User Type</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <partial name="~/Views/Users/Doctors/_DoctorFormPartial.cshtml" />

            @*<div class="form-group">
                    <label asp-for="CreatedAt" class="control-label"></label>
                    <input asp-for="CreatedAt" class="form-control" />
                    <span asp-validation-for="CreatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CreatedBy" class="control-label"></label>
                    <input asp-for="CreatedBy" class="form-control" />
                    <span asp-validation-for="CreatedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedAt" class="control-label"></label>
                    <input asp-for="UpdatedAt" class="form-control" />
                    <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UpdatedBy" class="control-label"></label>
                    <input asp-for="UpdatedBy" class="form-control" />
                    <span asp-validation-for="UpdatedBy" class="text-danger"></span>
                </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(() => {
            const doctorForm = document.querySelector("#DoctorForm");
            const selectRole = document.querySelector("#SelectRole");
            if (doctorForm) {
                doctorForm.style.display = "none";
                selectRole.addEventListener("change", (event) => {
                    if (event.target.value == @Convert.ToInt32(role.Doctor)) {
                        doctorForm.style.display = "block";

                    } else {
                        doctorForm.style.display = "none";

                    }
                });
            }
        });

    </script>
}
