@using role = HospitalManagementSystem.DAL.Data.Model.Role
@model HospitalManagementSystem.ViewModel.UserDoctorDetailsViewModel


<div id="DoctorForm">
    @*<partial name="~/Views/Users/Doctors/_CreateDoctorPartial.cshtml" />*@
    <div class="form-group">
        <label asp-for="Specialization" class="control-label"></label>
        <input asp-for="Specialization" class="form-control" />
        <span asp-validation-for="Specialization" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YOE" class="control-label"></label>
        <input asp-for="YOE" class="form-control" />
        <span asp-validation-for="YOE" class="text-danger"></span>
    </div>
</div>

@section Scripts {
    @*<script>

        document.readyState = () => {
            const doctorForm = document.querySelector("#DoctorForm");
            const selectRole = document.querySelector("#SelectRole");
            if (doctorForm) {
                doctorForm.style.display = "none";
                selectRole.addEventListener("change", (event) => {
                    if (event.target.value == @Convert.ToInt32(role.Doctor)) {
                        doctorForm.style.display = "block";

                    } else {
                        doctorForm.style.display = "none";

                    }
                });
            }
        };

    </script>*@
}
@*$(document).ready(() => {
        $("#DoctorForm").hide();
        $("#SelectRole").change((event) => {
            if (event.target.value == @Convert.ToInt32(role.Doctor)) {
                $("#DoctorForm").show();
            } else {
                $("#DoctorForm").hide();
            }
        });
    });*@