@using HelloWorldWebApp.Models;
@{
    ViewData["Title"] = "Student | Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model Student;

@{
    string strYear = Model.Year == 1 ? "First Year" : Model.Year == 2 ? "Second Year" : Model.Year == 3 ? "Third Year" : "Final Year";
}

<div class="row mt-4">
    <div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-sm-12 offset-sm-0">
        <table class="table table-bordered table-hover table-responsive table-striped">
            <tbody>
                <tr class="text-center">
                    <th>Student ID</th>
                    <th>@Model.ID</th>
                </tr>
                <tr class="text-center">
                    <th>Student Name</th>
                    <th>@Model.Name</th>
                </tr>
                <tr class="text-center">
                    <th>Student Year</th>
                    <th>@strYear</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>
